html,body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-image: url("images/background.jpg") ;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.pic{
    position: absolute;
    top: 2%;
    left: 90%;
    width: 10%;
}
.pic a{
    cursor: pointer;
}
.pic a img{
    border-radius: 50%;
    width: 50%;
}

.nav{
    background: none;
    position: absolute;
    top: 0;
    width: 50%;
    height: 15%;
    overflow: hidden;
}
.nav a {
    float: left;
    display: block;
    font-size: 18px;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .nav a:hover {
    background: rgb(240, 203, 203);
    color: rgb(150, 139, 139);
    transition: 1.2s; 
  }
  .intro{
      position: absolute;
      top:20%;
      left: 100px;
  }
  
  .intro p{
      color: rgb(243, 237, 240);
      font-size: 18px;
      font-family: 'Roboto', sans-serif;
  }
  .line{
    border: 1px solid #f2f2f2;
    width: 120px;
    height: 0px;
  }
.head-name{
    position: absolute;
    top: 30%;
    left: 8%;
  }
h2{
   font-size: 80px; 
   font-family: 'Alfa Slab One', cursive;
   color: white; 
   font-weight: bolder;

}
.tag-line{
    position: absolute;
    top: 40%;
    left: 8%; 
}
h3{
    font-size: 80px; 
    font-family: 'Alfa Slab One', cursive;
    color: rgb(241, 207, 220); 
    font-weight: bolder;
    letter-spacing: 1px;
 }
.base-tag{
    position: absolute;;
    width: 50%;
    top: 93%;
    left:43%;
    color: black;
}
@media screen and (max-width: 720px) {
    .pic{
        left: 85%;
        width: 15%;
    }
    .head-name{
        position: absolute;
        top: 50%;
        left: 20%;
      }
    h2{
       font-size: 60px; 
    
    }
    .tag-line{
        position: absolute;
        top: 60%;
        left: 22%; 
    }
    h3{
        font-size: 60px; 
        
     }
}